:root{
	--background-color: #fbfbfb;
	--primary-color: #5D5ADD;
	--primary-color-2: #4a48c2;
	--backdrop-color: rgb(0, 0, 0, .8);
	--white-color: #FFFFFF;
	--white-color-2: #F3F4F6;
	--white-color-3: #F3F7FA;
	--black-color: #313439;
	--gray-color: #cfcfcf;
	--gray-color-2: #a0a0a0;
	--gray-color-3: #dbdbdb;
	--green-color: #30B783;
	--green-color-2: #44E387;
	--green-color-3: #05CC6A;
    --green-color-4: #05b65d;
    --red-color: #fd2e2e;
    --orange-color: #fa8142;
	--font-bold: 700;
	--font-medium: 600;
	--font-regular: 500;
	--border-radius: 3px;
	--line-height: 27px;
	--line-height-2: 22px;
}

*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
	background-color: var(--background-color);
	min-height: 100vh;
}

a{
	text-decoration: none;
	color: var(--black-color);
}

li{
	list-style: none;
}

/* progress bar */
.progress-bar-value{
	display: block;
	font-size: .9em;
	color: var(--black-color);
	font-weight: var(--font-medium);
	margin-bottom: .5rem;
}

.progress-bar{
	display: block;
	margin-bottom: 2rem;
	overflow-x: hidden;
	height: 4px;
	background-color: var(--gray-color-3);
	position: relative;
}

.progress-bar-fill{
	position: absolute;
	width: 50%;
	top: 0;
	left: 0;
	z-index: 99;
	height: 100%;
	background-color: var(--primary-color);
}

/* modal */
.modal-body .modal-body-title {
	font-size: 1.3em;
	margin-bottom: 1rem;
}

.modal-body .modal-body-text {
	color: var(--black-color);
	font-size: 0.9em;
	font-weight: var(--font-regular);
	line-height: var(--line-height);
}

/* tag */
.tags{
	gap: .2rem;
	display: flex;
}

.tag{
	display: block !important;
	padding: .6rem .7rem;
	background-color: var(--white-color);
	border-radius: var(--border-radius);
	font-weight: var(--font-medium);
	color: var(--black-color);
	font-size: .7em;
	border: 1px solid var(--gray-color);
}

/* title */
.title, .title-md{
	color: var(--black-color);
	margin-bottom: 1rem;
}

.title-md{
	font-weight: 600;
	font-size: 1.5rem;
}

/* card */


/* list */
/* .list-group{
	margin-bottom: 3rem;
}

.list-item{
	background-color: var(--white-color-2);
	border-radius: var(--border-radius);
	padding: 1.2rem 1.5rem;
	font-size: 1.1em;
	color: var(--black-color);
	font-weight: var(--font-medium);
	transition: background-color .3s;
}

.list-item:not(:last-child){
	margin-bottom: .5em;
} */

/* label */
.label-info, .input-label{
	display: block;
    color: var(--black-color);
    font-weight: var(--font-bold);
	font-size: .9em;
    margin-bottom: .5rem;
	text-transform: uppercase;
}

.label-info{
	color: var(--gray-color-2);
}

.badge-circle-danger{
    display: inline-block;
    text-align: center;
    padding: 0.60em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    border-radius: 50%;
    background-color: red;
    color: var(--white-color);
}

.bugs-info-group{
    display: block;
    text-transform: uppercase;
    color: var(--accent-7);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
}

/* text */
.text-center{
	text-align: center;
}

.text-red{
	font-weight: var(--font-medium);
	color: var(--red-color) !important;
	fill: var(--red-color) !important;
}

/* card */
.card {
	display: block;
	user-select: none;
	background-color: var(--white-color);
	border-radius: var(--border-radius);
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	padding: 2rem;
	border: 1px solid var(--white-color-2);
	border-bottom-width: 3px;
	border-bottom-style: solid;
	color: var(--black-color);
	transition-property: box-shadow, transform;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card.no {
	border-bottom-color: var(--white-color-2);
}

.card.low {
	border-bottom-color: var(--primary-color);
}

.card.medium {
	border-bottom-color: var(--orange-color);
}

.card.high {
	border-bottom-color: var(--red-color);
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card .card-title {
	font-size: 1.2em;
	font-weight: var(--font-medium);
	margin-bottom: 0.2rem;
}

.card .card-text {
	color: var(--gray-color-2);
	font-weight: var(--font-regular);
	line-height: var(--line-height-2);
	font-size: 0.8em;
	margin-top: 0.6rem;
	margin-bottom: 1rem;
}

.issue {
	display: block;
	color: var(--gray-color-2);
	font-weight: var(--font-regular);
	margin-bottom: 1rem;
}

@media screen and (max-width: 567px){
	.card{
		padding: 1.5rem 1rem;
	}
}